@page
@model MagazinOnline.Pages.Produse.DeleteModel

@{
    ViewData["Title"] = "Sterge";
}



<h3>Sigur doriti sa stergeti aceasta inregistrare?</h3>
<div>
    <h4>Produs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produs.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produs.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produs.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produs.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produs.Categorie.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produs.Categorie.Nume)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Produs.ProdusId" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi</a>
    </form>
</div>
