@page
@model MagazinOnline.Pages.Categorii.IndexModel

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-page="Create">Creeaza inregistrare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].Descriere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categorie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategorieId">Editare</a> |
                <a asp-page="./Details" asp-route-id="@item.CategorieId">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategorieId">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
