@page
@model MagazinOnline.Pages.Comenzi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].ComandaPlasata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].StatusComanda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comanda) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComandaPlasata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusComanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientNume)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ComandaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ComandaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ComandaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
